.navBar {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.moveBar {
    display: flex;
    color: white;
    text-shadow: 0.6px 0.6px 0px rgba(0, 0, 0, 1);
    height: 2.5rem;
    width: 100%;
    background-color: rgba(14, 104, 241, 1);
    box-shadow: inset 0px 1.8px 1.2px 0px rgba(50, 145, 255, 1);
    border-radius: 9.6px 9.6px 0px 0px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.nameProgram {
    display: flex;
    align-items: center;
    padding: .5rem;
    gap: .5rem;
}

.iconeProgram {
    height: 1.5rem;
}

.buttonClose {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    height: 2.5rem;
    width: 2.5rem;
}

.link {
    position: relative;
}

.toolBar {
    display: flex;
    background-color: rgba(239, 235, 216, 100);
    padding-left: .1rem;
}

.link {
    padding: .2rem .5rem .2rem .5rem;
    color: black;
    cursor: pointer;
}

.link:hover {
    color: black;
    background-color: #164DBC;
}

.title {
    display: flex;
    width: fit-content;
}

#titleMarkdown {
    field-sizing: content; 
    padding-right: .25rem;
    color: white;
    text-shadow: 0.6px 0.6px 0px rgba(0, 0, 0, 1);
    background-color: transparent;
    border: none;
}