
/* Ici c'est mon composant recette */
.Recette{
    background-color: rgb(196, 254, 209);
    width: 830px;
    height: 495px;
    overflow-y: auto;
    align-items: center;
  
  }
  .title_Ingrediant{
    background-color: rgb(5, 111, 58);
    padding: 20px;
    border-radius: 20px;
    color: #f0f0f0;
    margin: 20px;
  }
  
  .Menu_recipe{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .liste_Menu{
    cursor: pointer;
    display: flex;
    gap: 20px;
  }
  
  .liste_Menu li:hover{
    color: rgb(255, 0, 0);
  }
  
  .ListMeal{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 0px;
  }
  
  .organisations{
    display: flex;
  }
  .pub_organisation{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
  }
  
  
  .pub{
    width: 40%;
  }
  .gif{
    width: 23%;
  }
  
  
  .title{
  
    width: 250px;
    padding: 15px;
  }
  
  .Up_Page{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .liste{
    text-decoration: solid;
    list-style: inside;
  }
  
  .test{
    width: 400px;
  }
  
  .border{
    margin: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center ;
    border: dashed black 1px;
  }
  
  .aside_ingrediant{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  
  .footer{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .footer_img{
    width: 1500px;
  }
  .search_section{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
  }
  .search_class{
    padding: 5px;
    width: 80%;
  }
  
  .search_button{
    padding-right: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  