@font-face {
  font-family: "Starjhol";
  src: url("../../assets/fonts/Starjhol.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AmericanTypewriter";
  src: url("../../assets/fonts/FontsFree-Net-american-typewriter-1.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
.event {
  background-image: url("../../assets/images/galaxie.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.event-title {
  font-size: 70px;
  color: #fff700;
  text-align: center;
  font-family: "Starjhol", sans-serif;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.event-description {
  font-size: 18px;
  color: #fff700;
  text-align: center;
  font-family: "AmericanTypewriter", sans-serif;
  margin: 10px 30px 10px 30px;
}

.EventGif2 {
  top: 230px;
  left: 630px;
  position: absolute;
  height: 80px;
  transform: rotate(80deg);
}
.EventGif3 {
  top: 250px;
  left: 30px;
  position: absolute;
  width: 140px;
}
.EventGif4 {
  top: 220px;
  left: 20px;
  position: absolute;
  width: 50px;
}
.EventGif5 {
  top: 200px;
  left: 750px;
  position: absolute;
  width: 40px;
}
.EventGif6 {
  top: 260px;
  left: 750px;
  position: absolute;
  width: 50px;
}
.EventGif7 {
  top: 190px;
  left: 80px;
  position: absolute;
  width: 70px;
}
.EventGif8 {
  top: 470px;
  left: 700px;
  position: absolute;
  width: 90px;
}
.EventGif9 {
  top: 460px;
  left: 40px;
  position: absolute;
  width: 100px;
}
